th {
    background-color: black;
    width: 75px;
    height: 75px;
}

td {
    background-color: white;
    width: 75px;
    height: 75px;
}

.keret {
    height: 635px;
    width: 635px;
    border: solid black;
}